@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 

    <div class="container mt-5 ">
        <div class="jumbotron d-flex flex-column align-items-center">
            <h1 class="display-4">Checkpoint MVC .NET 8</h1>
     
            <div class="card" style="width: 20rem;">
                <div class="card-header">
                    <h2 class="mt-4 display-6 fw-normal text-success">Pontuação</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Projeto funcionando sem erros: <strong class="text-success">1pt</strong></li>
                    <li class="list-group-item">3 controllers personalizadas: <strong class="text-success">3pts</strong></li>
                    <li class="list-group-item">3 views personalizadas: <strong class="text-success">3pts</strong></li>
                    <li class="list-group-item">Link para o projeto no GitHub: <strong class="text-success">1pt</strong></li>
                    <li class="list-group-item">Navegação entre todas as views: <strong class="text-success">2pts</strong></li>
                </ul>
            </div>

            <h2 class="mt-4 display-6">Entrega Individual</h2>
            <p class="fw-lighter">A entrega é individual. A chamada será realizada através da entrega do link do GitHub nesta tarefa.</p>

            <h2 class="mt-4 display-6">Link do Projeto no GitHub</h2>
            <p class="fw-lighter"><a href="https://github.com/thomasmendonca/CP01" class="btn btn-success" target="_blank">Meu Projeto MVC .NET 8 no GitHub</a></p>

            <h2 class="mt-4 display-6">Observações</h2>
            <p class="fw-lighter">A ausência de um ou mais itens não subtrai pontos, e sim, você deixa de ganhar o mesmo.</p>
            <p class="fw-lighter">Lembrando, isso que eu falei acima deve estar escrito na página, de maneira organizada, utilize lista, h1, p e links.</p>
        </div>
    </div>
</div>
