@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="mt-4 display-6">Link do Projeto no GitHub</h2>
<p class="fw-lighter"><a href="https://github.com/thomasmendonca/CP01" class="btn btn-success" target="_blank">Meu Projeto MVC .NET 8 no GitHub</a></p>
